* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
}

header {
	background-color: green;
	color: white;
	text-align: center;
	padding: 2rem;
}

main {
	max-width: 900px;
	margin: auto;
	padding: 2rem;
}

button {
	padding: .5em;
	font-size: 1.2rem;
	margin: auto;
	display: block;
}